.pasarela-pago-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f4f4f9; /* Fondo suave para contraste */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
  }
  
  .pasarela-pago-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1a73e8; /* Color azul suave para encabezado */
  }
  
  #pay {
    display: inline-block;
    background-color: #FAFAFA;
    background: url('https://sandbox-paybox.pagoplux.com/img/pagar.png?v1') no-repeat center center;
    height: 96px;
    width: 215px;
    border: none;
    cursor: pointer;
    background-size: contain;
    outline: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  #pay:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15); /* Sombra más fuerte al pasar el cursor */
  }
  