/* Estilos generales para la página de Nuestra Historia */
.historia-page-container {
    padding: 40px;
    background-color: #2C2A29;
    color: #CD528F;
    font-family: Arial, sans-serif;
  }
  
  /* Sección general de historia */
  .historia-section {
    margin-bottom: 40px;
  }
  
  .historia-section h1, .historia-section h2, .historia-section h3 {
    color: #CD528F;
    margin-bottom: 20px;
  }
  
  /* Texto general de la historia */
  .historia-text {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  /* Valores como lista */
  .historia-values {
    list-style-type: none;
    padding-left: 0;
  }
  
  .historia-values li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* Valores en negrita */
  .historia-values li strong {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
  }
  