/* Main container */
.historia-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.historia-title-section {
  text-align: center;
  margin-bottom: 60px;
}

.historia-main-titleP {
  margin-top: 10%;
  font-size: 3.5rem;
  color: #CD528F;
  text-transform: uppercase;
  font-family: 'TTRamillas', sans-serif;
}

.historia-main-title {
  font-size: 3.5rem;
  color: #CD528F;
  text-transform: uppercase;
  font-family: 'TTRamillas', sans-serif;
}

.historia-subtitle {
  font-size: 2rem;
  color: #CD528F;
  text-transform: uppercase;
  font-family: 'TTRamillas', sans-serif;
  margin-top: 20px;
}

.historia-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #2C2A29;
  text-align: center;
  margin: 1px 0;
  margin-left: 150px;
  margin-right: 150px;
}

.ceibos-arbol-gif {
  text-align: center;
  margin: 1px 0;
}

.ceibos-arbol-gif img {
  width: 200px;
  height: auto;
}

.historia-img {
  max-width: 100%;
  height: auto;
}