.dashboard-container {
  display: flex;
  height: 100vh;
}

.content-container {
  width: 100%;
  margin-top: 35px;
}


/* Media query para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .content-container {
    overflow-x: auto ;
  }
}