/* General styles for Checkout */
.C-checkoutPage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupa toda la altura de la ventana */
  padding-top: 80px; /* Altura del navbar para evitar que lo cubra */
}

.C-checkoutPage {
  flex: 1; /* El contenido ocupa el espacio disponible */
  padding: 2rem;
  background-color: #f9f9f9;
  font-family: 'Inter', sans-serif;
}

footer {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/* Estilos específicos del contenido */
.C-checkoutPage h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.C-checkoutItemsList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.C-checkoutItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.C-checkoutItem span {
  font-size: 1rem;
  color: #555;
}

.C-removeButton {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.C-removeButton:hover {
  background-color: #ff4a4a;
}

.C-total {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.C-payButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.C-payButton:hover {
  background-color: #45a049;
}
