html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 80px;
}

/* Banner */
.banner {
  background-image: url('/src/assets/img/banners/mee.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  width: 100%;
  height: 600px;
  /* Ajusta según lo necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: 1px solid #c9a506;
  margin-bottom: 50px;
}

/* Introducción */
.introduction {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e8d685;
  padding: 20px;
  align-items: flex-start;
  max-width: 1000px;
  /* Limita el ancho máximo */
  margin: 0 auto;
  /* Centra la sección */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.intro-img {
  flex: 0 0 300px;
  /* Define un tamaño fijo para la imagen */
  margin-right: 30px;
  /* Espacio entre imagen y texto */
}

.intro-img img {
  display: block;
  width: 100%;
  /* La imagen se ajusta al contenedor */
  height: auto;
  object-fit: cover;
}

.intro-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  max-width: calc(100% - 150px);
}

.intro-text h3 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  font-size: 2.2rem;
  color: black;
}

.intro-text p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  color: black;
}

.buho {
  align-self: flex-start;
  width: 120px;
  height: auto;
}

.buho img {
  width: 400px;
  height: 400px;
}

/* Productos */
.productos-carousel {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.producto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
  min-height: 450px;
  margin-left: 40px;
  margin-right: 40px;
}

.productos-headerH {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-description {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  margin-left: 0px;
  display: block;
}

.productos-headerH h3 {
  font-size: 5rem;
  color: #000 !important;
  margin-left: 10px;
  margin-bottom: 20px;
}

.productos-carousel {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.producto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px); /* Ajuste para columnas */
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 100%; /* Asegurar altura consistente */
}

.producto-card h2 {
  color: #000;
  font-size: 35px;
}

.producto-card img {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.button-container a {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap; /* Prevents text from wrapping */
}

.button-container {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.button-container .Qbtn {
  background-color: #CD528F;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Suavidad en el hover */
}

.button-container .Qbtn:hover {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
}

.button-container .Qbtn2 {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Suavidad en el hover */
}

.button-container .Qbtn2:hover {
  background-color: #CD528F;
  color: #fff;
}

/* Proceso de fabricación */
.fabricacion {
  position: relative;
  display: inline-block;
  text-align: center;
}

.fabricacion img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.fabricacion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.img-fabricacion img {
  max-width: 80%;
  height: auto;
}

.fabricacion p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  margin: 10px 0;
  color: #000;
  text-align: center;
}

/*Exitos*/
.exitos {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.exitos img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.exitos h3 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: normal;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 2rem;
  text-align: center;
  width: 90%;
}

.exitos p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
}

/* Cocteles */
.cocteles {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding: 40px 20px;
  text-align: center;
}

.cocteles h3 {
  font-size: 2rem;
  color: #cc528f;
  margin-top: -100px;
}

.cocteles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.coctel-card {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.coctel-front,
.coctel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.coctel-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coctel-front img {
  width: 80%;
  height: 85%;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.coctel-front h4 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #000 !important;
  text-align: center;
}

.coctel-back {
  width: 80%;
  height: 85%;
  background-image: url('../../assets/img/banners/SLIDES2copy.jpg');
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  gap: 10px;
}

.coctel-back h4 {
  color: #cc528f !important;
  font-weight: bold;
  font-style: italic;
}

.coctel-back h5 {
  color: #cc528f;
}

.coctel-back p {
  color: #000;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
}

.coctel-card:hover .coctel-front {
  transform: rotateY(180deg);
}

.coctel-card:hover .coctel-back {
  transform: rotateY(360deg);
}

.coctel-card h4 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 15px;
}

.cocteles .btn-coctel {
  margin-top: 10px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #CD528F;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}

.cocteles .btn-coctel:hover {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.3rem;
}

.coctel-back {
  font-size: 1.5rem;
}

.coctel-back .btn-recetas {
  background-color: #CD528F;
  margin-top: 150px;
  position: fixed;
  padding: 15px 80px;
  font-size: 1.3rem;
}

.coctel-back .btn-recetas:hover {
  background-color: #2C2A29;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 0;
    height: 400px; /* Reducimos la altura */
    background-size: contain; /* Ajusta el fondo para no recortarlo */
  }

  .introduction {
    border: none;
    flex-direction: column;
    align-items: center;
  }

  .intro-img {
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
  }

  .intro-text {
    padding-right: 0;
    text-align: left;
    display: block;
  }

  .buho {
    align-self: flex-end;
    margin-top: 20px;
  }

  .buho img {
    width: 300px;
    height: 300px;
  }

  .producto-card {
    flex: 1 1 calc(50% - 20px);
  }

  .fabricacion p {
    font-size: 1.2rem;
    margin-bottom: 100px;
  }

  .exitos img {
    height: 650px; /* Reduce la altura de la imagen */
  }

  .coctel-card {
    width: 350px; /* Reduce el ancho de las tarjetas */
    height: 480px; /* Reduce la altura */
  }

  .coctel-front img,
  .coctel-back {
    height: 80%; /* Ajusta la altura de las imágenes */
  }

  .coctel-front h4,
  .coctel-back h4 {
    font-size: 1rem; /* Reduce el tamaño de los títulos */
  }

  .cocteles .btn-coctel {
    padding: 10px 40px; /* Botones más compactos */
    font-size: 1rem;
  }

  .coctel-back .btn-recetas {
    padding: 10px 40px;
    font-size: 0.9rem;
  }
}

/* Para pantallas medianas como tablets */
@media (max-width: 1024px) {
  .banner {
    margin-top: 10;
    height: 500px; /* Ajustamos la altura para tablets */
  }

  .intro-text h3 {
    font-family: 'TTRamillas', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
  }

  .intro-text p {
    font-size: 0.95rem;
  }

  .productos-carousel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .exitos img {
    height: 550px;
  }
}

/* Para pantallas muy pequeñas como móviles antiguos */
@media (max-width: 480px) {
  .banner {
    margin-top: 0;
    height: 300px; /* Aún más pequeño */
    margin-top: 50px; /* Ajustamos el margen superior */
  }

  .intro-img {
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
  }

  .intro-text {
    padding-right: 0;
    text-align: left;
    display: block;
  }

  .buho {
    align-self: flex-end;
    margin-top: 20px;
  }

  .buho img {
    width: 200px;
    height: 200px;
  }

  .producto-card {
    flex: 1 1 100%; /* Cada tarjeta ocupa el 100% del ancho */
    max-width: 100%; /* Limita el tamaño para evitar desbordamiento */
    margin-bottom: 20px;
  }

  .exitos img {
    height: 350px; /* Reduce aún más la altura */
  }

  .exitos h3 {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    top: 5%; /* Ajusta la posición vertical */
    transform: translate(-50%, -5%);
  }

  .exitos p {
    font-size: 0.9rem; /* Reduce aún más el tamaño del texto */
    width: 95%; /* Aumenta el ancho del texto para evitar desbordes */
    top: 50%; /* Ajusta la posición vertical */
    transform: translate(-50%, -50%);
  }

  .coctel-card {
    width: 300px; /* Reduce aún más el ancho de las tarjetas */
    height: 550px; /* Reduce la altura */
  }

  .coctel-front img,
  .coctel-back {
    height: 75%; /* Ajusta la altura de las imágenes */
  }

  .coctel-front h4,
  .coctel-back h4 {
    font-size: 0.9rem; /* Reduce más los títulos */
  }

  .cocteles h3 {
    font-size: 1.5rem; /* Reduce el tamaño del título principal */
  }

  .cocteles .btn-coctel {
    padding: 10px 30px; /* Botones más pequeños */
    font-size: 0.9rem;
  }

  .coctel-back .btn-recetas {
    font-size: 0.8rem;
    top: 30px;
  }
}