html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 80px;
}

/* Banner */
.banner {
  background-image: url('/src/assets/img/banners/mee.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: 1px solid #c9a506;
}

/* Introducción */
.introduction {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e8d685;
  align-items: flex-start;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.intro-img {
  flex: 0 0 300px;
  margin-right: 180px;

}

.intro-img img {
  display: block;
  width: 150%;
  height: auto;
  object-fit: cover;
}

.intro-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  max-width: calc(100% - 150px);
}

.intro-text h3 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  font-size: clamp(1rem, 20vw, 3rem);
  color: black;
}

.intro-text p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1rem, 20vw, 1.5rem);
  color: black;
  margin-right: 40px;
}

.buho {
  align-self: center;
  width: 600px;
  height: auto;

}

.buho img {
  width: 50%;
  height: auto;
}

/* Productos */
.productos-headerH {
  text-align: center;
  margin-bottom: 20px;
}

.productos-carousel {
  display: flex;
  flex-wrap: wrap;
  /* Permitir que los productos se ajusten automáticamente */
  gap: 20px;
  /* Espaciado entre tarjetas */
  justify-content: center;
  padding: 20px;
}

.productos-headerH {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-descriptionH {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 0px;
  display: block;
  font-size: clamp(1rem, 20vw, 1.6rem);
  color: #cd528f;
  margin: 0;
  text-align: left;
}

.productos-headerH h3 {
  font-size: clamp(1rem, 20vw, 3rem);
  white-space: nowrap;
  color: #000 !important;
  margin-left: 0px;
  margin-bottom: 20px;
}

.productos-carousel {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
  align-items: stretch;
}

.producto-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  align-items: center;
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 100%;
  min-height: 450px;
}

.product-title {
  font-size: clamp(1rem, 20vw, 1.5rem);
  margin-bottom: 10px;
  flex-grow: 1;
  /* Ocupa el espacio restante para alinear el contenido */
  display: flex;
  align-items: center;
  /* Centra verticalmente el texto */
  justify-content: center;
  /* Centra horizontalmente el texto */
}

.producto-card h2 {
  color: #000;
  white-space: nowrap;
  font-size: 30px;
  margin: 10px 0;
}

.producto-card img {
  width: 50% !important;
  height: auto;
  margin-bottom: 15px;
  max-width: 250px;
  object-fit: contain;

}

.producto-card .proximamente {
  filter: brightness(0.1);
}

.producto-card .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  z-index: 2;
  pointer-events: none;

}

.button-container a {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.button-container {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.button-container .Qbtn {
  display: flex;
  gap: 10px;
  background-color: #CD528F;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button-container .Qbtn:hover {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
}

.button-container .Qbtn2 {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button-container .Qbtn2:hover {
  background-color: #CD528F;
  color: #fff;
}

/* Proceso de fabricación */
.fabricacion {
  position: relative;
  display: inline-block;
  text-align: center;
}

.fabricacion img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.fabricacion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.img-fabricacion img {
  max-width: 80%;
  height: auto;
}

.fabricacion p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  margin: 10px 0;
  color: #000;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

/*Exitos*/
.exitos {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.exitos img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.exitos h3 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 3rem;
  text-align: center;
  width: 80%;
}

.exitos p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}

/* Cocteles */
.cocteles {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding: 40px 20px;
  text-align: center;
}

.cocteles h3 {
  color: #000000;
  margin-top: -100px;
  font-size: 3rem !important;
  font-style: normal;
}

.cocteles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.coctel-card {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.coctel-front,
.coctel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.coctel-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coctel-front img {
  width: 80%;
  height: 85%;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.coctel-front h4 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #000 !important;
  text-align: center;
}

.coctel-back {
  width: 80%;
  height: 85%;
  background-image: url('../../assets/img/banners/SLIDES2copy.jpg');
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border-radius: 50px;
}

.coctel-back h4 {
  color: #cc528f !important;
  font-weight: bold;
  font-style: italic;
}

.coctel-back h5 {
  color: #cc528f;
  text-align: left;
  /* Agregado para alinear el texto a la izquierda */
}

.coctel-back p {
  color: #000;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  margin-bottom: 10px;
}

.coctel-card:hover .coctel-front {
  transform: rotateY(180deg);
}

.coctel-card:hover .coctel-back {
  transform: rotateY(360deg);
}

.coctel-card h4 {
  font-size: 3rem;
  color: #fff;
  margin-top: 15px;
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.cocteles .btn-coctel {
  margin-top: 10px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #CD528F;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.cocteles .btn-coctel:hover {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.3rem;
}

.coctel-back {
  font-size: 1.5rem;
}

.coctel-back .btn-recetas {
  background-color: #CD528F;
  margin-top: 150px;
  position: fixed;
  padding: 15px 80px;
  font-size: 1.3rem;
}

.coctel-back .btn-recetas:hover {
  background-color: #2C2A29;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.5rem;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width:430px) {

  /*Banner*/
  .banner {
    margin-top: -30px;
    height: 400px;
    background-size: contain;
  }

  /*Introduccion*/
  .introduction {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;

  }

  .intro-img {
    width: 80%;
    height: auto;
    margin-top: -130px;

  }

  .intro-text {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .intro-text h3 {
    font-size: 1.2rem;
    text-align: center;
  }

  .intro-text p {
    font-size: 1rem;
    text-align: justify;
    margin: 0 auto;
    max-width: 500px;
  }

  .buho {
    display: block;
    text-align: center;
  }

  .buho img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }

  /*Productos*/

  .productos-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20-x;
  }

  .producto-card {
    width: 90% !important;
    max-width: 320px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  .producto-card img {
    width: 70% !important;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
  }


  .productos-headerH h3 {
    font-size: 1.5rem;
    max-width: 200px;
  }

  .producto-card h2 {
    font-size: 1.2rem;
  }

  .product-description {
    font-size: 0.9rem;
    margin-top: 50px;
  }

  /*Exitos*/
  .exitos img {
    width: 100%;
    /* Limita la altura máxima */
    height: 900px;
    object-fit: cover;
    /* Ajusta la imagen para que mantenga una proporción adecuada */
    display: block;
    /* Evita espacios blancos no deseados */
    margin: 0 auto;
  }

  .exitos h3 {
    font-size: 1.9rem;
    top: 1%;
    transform: translate(-50%, -5%);
  }

  .exitos p {
    font-size: 1.5rem;
    width: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}

@media screen and (width:320px){

  .exitos img {
    width: 100%;
    /* Limita la altura máxima */
    height: 1300px;
    object-fit: cover;
    /* Ajusta la imagen para que mantenga una proporción adecuada */
    display: block;
    /* Evita espacios blancos no deseados */
    margin: 0 auto;
  }

  .exitos h3 {
    font-size: 1.9rem;
    top: 1%;
    transform: translate(-50%, -5%);
  }

  .exitos p {
    font-size: 1.5rem;
    width: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
}

@media screen and (min-width: 375px) and (max-width: 430px) {
  .exitos img {
    width: 100%;
    height: 1050px; /* Asegura que la imagen tenga una altura suficiente */
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
}


/* Para pantallas entre 768px y 1024px */
@media screen and (width: 768px) {
  .banner {
    width: 100%;
    margin-top: 50px;
    height: 400px;
    background-size: contain;
  }
  /*Introduccion*/
  .introduction {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
    border: none;
  }
  .intro-img {
    flex: 0 0 50%;
    margin-right: 0;
  }
  .intro-img img {
    width: 400px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -22px;
  }
  .intro-text {
    flex: 0 0 40%;
    text-align: justify;
    max-width: none;
  }
  .intro-text h3 {
    font-size: 1.5rem;
  }

  .intro-text p {
    margin-right: 0;
    font-size: 1.2rem;
  }
  .buho {
    align-self: flex-start;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .buho img {
    width: 150px;
    height: auto;
  }

  /*Productos*/
  .productos-carousel {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se muevan a una nueva línea */
    justify-content: space-between;
    /* Espacio entre las imágenes */
    gap: 10px;
  }
  .producto-card {
    width: 90% !important;
    max-width: 320px;
    /* Tamaño máximo de la tarjeta */
    text-align: center;
    padding: 20px;
  }
  .producto-card img {
    width: 70% !important;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
  }
  .productos-headerH h3 {
    max-width: 200px;
  }

  .producto-card h2 {
    font-size: 1.2rem;
  }

  .product-description {
    font-size: 0.9rem;
  }
  /*Exitos*/
  .exitos img {
    height: 500px;
  }

  .exitos h3 {
    top: 1%;
    transform: translate(-50%, -5%);
  }

  .exitos p {
    width: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (width: 1024px) {
  .banner {
    width: 100%;
    margin-top: 50px;
    height: 500px; /* Ajusta el tamaño aquí */
    background-size: cover; /* Cambia el tamaño de fondo si es necesario */
  }
  /*Introduccion*/
  .introduction {
    flex-wrap: nowrap;
    /* Evitar que los elementos se envuelvan */
    align-items: center;
    gap: 30px;
    /* Ajustar espacio entre elementos */
    border: none;
  }
  .intro-img {
    flex: 0 0 50%;
    /* Imagen ocupa el 40% del espacio disponible */
    margin-right: 0;
    /* Eliminar margen lateral extra */
  }
  .intro-img img {
    width: 400px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -85px;
  }
  .intro-text {
    flex: 0 0 40%;
    /* Texto ocupa el 60% del espacio disponible */
    text-align: justify;
    /* Alinear texto a la izquierda */
    max-width: none;
    /* Permitir mayor ancho */
  }
  .intro-text h3 {
    font-size: 2rem;
  }

  .intro-text p {
    margin-right: 0;
    font-size: 1.5rem;
  }
  .buho {
    align-self: flex-start;
    /* Alinear búho debajo del texto */
    margin-top: 20px;
    /* Espaciado entre texto y búho */
    width: 100%;
    /* Asegurar que ocupe todo el ancho disponible */
    text-align: center;
    /* Centrar la imagen del búho */
  }

  .buho img {
    width: 300px;
    /* Ajustar tamaño de la imagen del búho */
    height: auto;
  }

  /*Productos*/
  .productos-carousel {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se muevan a una nueva línea */
    justify-content: space-between;
    /* Espacio entre las imágenes */
    gap: 10px;

  }
  .producto-card {
    width: 90% !important;
    /* Asegura que ocupe el ancho del contenedor */
    max-width: 320px;
    /* Tamaño máximo de la tarjeta */
    text-align: center;
    padding: 20px;
  }
  .producto-card img {
    width: 70% !important;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
  }
  .productos-headerH h3 {
    font-size: 2rem;
    max-width: 200px;
  }

  .producto-card h2 {
    font-size: 1.5rem;
  }

  .product-description {
    font-size: 0.9rem;
  }
  /*Exitos*/
  .exitos h3 {
    top: 10%;
  }


}
