.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 1rem 2rem;
    max-width: 100%;
    height: 80px;
}

.navbar .logo{
    height: 70px;
    max-width: 100px;
}

.navbar-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar-center .nav-links{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar-right .cart-icon {
    position: relative;
    cursor: pointer;
}

.navbar-right .cart-icon img,
.navbar-right .user-icon img {
    width: 30px;
    height: 30px;
}

/* Estilos para el contador de productos en el carrito */
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los enlaces */
.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-links a:hover {
    color: #f44336; 
}

/* Estilos para el menú en dispositivos móviles */
.burger img{
    display: block;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .burger{
        display: block;
    }
    .navbar-center{
        display: none;
    }
    
    .navbar-center.active{
        display: flex;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #fff;
        flex-direction: column;
        align-items: right;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    .nav-links{
        flex-direction: column;
        width: 100%;
    }

    .nav-links li a{
        padding: 15px;
        text-align: right;
        width: 100%;
        display: block;
    }

    .navbar-right{
        display: flexbox;
    }

    .logout-button {
        background-color: #f56565;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        margin-left: 10px;
    }

    .logout-button:hover {
        background-color: #e53e3e;
    }
}
