.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;  /* O el ancho que desees */
    background-color: #333; /* Color de fondo del sidebar */
    color: white;
    padding: 20px;
  }
  
  .content {
    flex: 1; /* Ocupa todo el espacio restante */
    padding: 20px;
    overflow-x: auto;
    min-width: 0;
  }
  