.pedidos-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8%;
  }
  .pedidos-container h1{
    color: #cd528f;
  }
  
  .order-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .order-card h2 {
    margin-top: 0;
  }
  
  .order-card p {
    margin: 5px 0;
  }
  
  .order-card ul {
    list-style-type: none;
    padding: 0;
  }
  .order-card li{
    color: #cd528f;
    font-style: italic;
  }
  
  .order-card ul li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  .order-card a{
    color: #cd528f;
    font-weight: bold;
  }