/* Estilos generales */
.Qproduct-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #2C2A29;
    color: #CD528F;
    font-family: Arial, sans-serif;
}

/* Sección del contenido: imagen a la izquierda y detalles a la derecha */
.Qproduct-content {
    display: flex;
    justify-content: space-between;
}

/* Sección de la imagen principal y carrusel a la izquierda */
.Qproduct-image-section {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Qproduct-image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.Qcarousel-slides {
    display: flex;
    width: 100%;
}

.Qproduct-image {
    min-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(205, 82, 143, 0.5);
    object-fit: cover;
    transition: transform 0.3s ease; /* Para animar el zoom al hacer hover */
}

/* Carrusel de imágenes pequeñas */
.Qimage-carousel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Qcarousel-image {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.Qcarousel-image:hover {
    transform: scale(1.1);
}

.Qactive {
    border-color: #CD528F;
}

/* Sección de detalles a la derecha */
.Qproduct-details {
    flex: 0.5;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Qproduct-title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
    color: #CD528F;
}

.Qproduct-description {
    margin-bottom: 20px;
}

.Qproduct-features {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2rem;
    display: grid;
    grid-gap: 15px;
    margin-bottom: 30px;
}

.Qproduct-features li {
    display: grid;
    grid-template-columns: 1fr 20px 2fr;
    align-items: center;
}

.Qseparator {
    width: 2px;
    height: 100%;
    background-color: #CD528F;
    margin: 0 10px;
}

/* Selector de cantidad */
.Qquantity-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Qquantity-container label {
    font-size: 1.2rem;
    margin-right: 10px;
}

.Qquantity-container input {
    width: 80px;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #CD528F;
}

/* Precio del producto */
.Qproduct-price {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

/* Botón "Agregar al carrito" */
.Qadd-to-cart-button {
    background-color: #CD528F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
}

.Qadd-to-cart-button:hover {
    background-color: #b13e78;
}

/* Sección de productos aparte */
.productos-section {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 2px solid #CD528F;
}

.productos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productos-header h3 {
    color: #CD528F;
    font-size: 2rem;
}

.productos-carousel {
    display: flex;
    justify-content: space-between;
}

.producto-card {
    width: 30%;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    position: relative;
    transition: transform 0.9s ease; /* Transición para el zoom en la tarjeta */
    cursor: pointer; /* Hacer que el cursor sea de tipo "pointer" para todo el card */
}

.producto-card:hover {
    transform: scale(1.02); /* Zoom en la tarjeta al hacer hover */
}

.producto-card:hover img {
    transform: scale(1.1); /* Zoom en la imagen cuando haces hover en la tarjeta */
}

.producto-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.9s ease; /* Transición suave para el zoom en la imagen */
}

.container-descrip {
    margin-bottom: 10px;
}

/* Botón "Comprar" dentro de la tarjeta */
.Qbtn {
    display: block;
    background-color: #CD528F;
    color: white;
    padding: 15px 30px; /* Hacer el botón más alargado */
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%; /* Para hacer que el botón ocupe todo el ancho del card */
}

.btn:hover {
    background-color: #b13e78;
}
