body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #2c2a29;
}
.coctel-container{
  width: 100%;
  height: auto;
}

.banner-coctel {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 100px;

}
.banner-coctel h2{
  text-align: left;
  color: white;
  font-size: 5rem ;

}

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 10px;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: left 0.5s ease-in-out;
}

.slide.active {
  left: 0;
}

.slide:not(.active) {
  left: -100%;
}
/*cocteles card*/
.cocktails-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.coctel-card-pg {
  position: relative;
  width: 650px;
  height: 500px;
  perspective: 1000px; 
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.coctel-fnt,
.coctel-bck {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  border-radius: 15px;
  overflow: hidden;
}

.coctel-fnt {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg);
}

.coctel-fnt img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.coctel-fnt h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

.coctel-bck {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.coctel-bck .coctel-info {
  text-align: center;
}

.coctel-bck p {
  margin-bottom: 10px;
}

.coctel-bck .coctel-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #CD528F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coctel-bck .coctel-button:hover {
  background-color: #CD528F;
}

.coctel-card-pg:hover .coctel-fnt {
  transform: rotateY(180deg);
}

.coctel-card-pg:hover .coctel-bck {
  transform: rotateY(360deg);
}
.img-ftr img{
  width: 100%;
  height: 10%;
  margin-top: -600px;
}

