body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #2c2a29;
}

.banner-coctel {
  background-image: url("/src/assets/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 20px;
  text-align: left;
  color: white;
  font-size: 3rem ;

  margin-top: 80px;
}

