html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 80px;
}

.banner-coctel{
  background-image: url('/src/assets/img/banners/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  width: 100%;
  height: 500px;
  /* Ajusta según lo necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: 1px solid #c9a506;
  margin-bottom: 2px;
}


/* Cocteles */
.cocteles {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding: 40px 20px;
  text-align: center;
}

.cocteles h3 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;

  color: #000000;
  margin-top: -100px;
}

.cocteles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.coctel-card {
  position: relative;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.coctel-front,
.coctel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.coctel-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.coctel-front img {
  width: 80%;
  height: 85%;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.coctel-front h4 {
  font-size: 1.5rem;
  color: #000 !important;
  text-align: center;

}

.coctel-back {
  width: 80%;
  height: 85%;
  background-image: url('../../assets/img/banners/SLIDES2copy.jpg');
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 35px;
}

.coctel-back h4 {
  font-family: 'TTRamillas', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4rem;
  color: #cc528f !important;
}

.coctel-back h5 {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #cc528f;
  
}

.coctel-back p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;

  color: #000;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
}

.coctel-card:hover .coctel-front {
  transform: rotateY(180deg);
}

.coctel-card:hover .coctel-back {
  transform: rotateY(0);
}

.coctel-card h4 {
  font-size: 2.8rem;
  color: #fff;
  margin-top: 1px;
}

.cocteles .btn-coctel {
  margin-top: 10px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: #CD528F;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}

.cocteles .btn-coctel:hover {
  background-color: #fff;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.3rem;
}

.coctel-back {
  font-size: 1.5rem;
}

.coctel-back .btn-recetas {
  background-color: #CD528F;
  margin-top: 150px;
  position: fixed;
  padding: 15px 80px;
  font-size: 1.3rem;
}

.coctel-back .btn-recetas:hover {
  background-color: #2C2A29;
  color: #CD528F;
  border: 1px solid #CD528F;
  font-size: 1.5rem;
}

/*MEDIAS QUERIES**/

@media (max-width: 1024px) {
  .coctel-card {
    width: 350px;
    height: 450px;
  }

  .coctel-front img {
    width: 70%;
    height: 75%;
  }

  .coctel-front h4 {
    font-size: 1.3rem;
  }

  .coctel-card h4 {
    font-size: 1.3rem;
  }

  .cocteles .btn-coctel {
    padding: 10px 40px;
    font-size: 1.1rem;
  }

  .coctel-back h4 {
    font-size: 2rem;
  }

  .coctel-back h5 {
    font-size: 1.3rem;
  }

  .coctel-back p {
    font-size: 1rem;
  }

  .coctel-back .btn-recetas {
    padding: 15px 60px;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .coctel-card {
    width: 300px;
    height: 485px;
  }

  .coctel-front img {
    width: 70%;
    height: 75%;
  }

  .coctel-front h4 {
    font-size: 1.3rem;
  }

  .coctel-card h4 {
    font-size: 1.3rem;
  }

  .cocteles .btn-coctel {
    padding: 10px 40px;
    font-size: 1.1rem;
  }

  .coctel-back h4 {
    font-size: 1.3rem;
  }

  .coctel-back h5 {
    font-size: 1.3rem;
  }

  .coctel-back p {
    font-size: 1rem;
  }

  .coctel-back .btn-recetas {
    padding: 15px 60px;
    font-size: 1.1rem;
  }
}

@media (max-width: 425px) {
  .coctel-card {
    width: 350px;
    height: 485px;
  }

  .coctel-front img {
    width: 70%;
    height: 75%;
  }

  .coctel-front h4 {
    font-size: 1.3rem;
  }

  .coctel-card h4 {
    font-size: 1.3rem;
  }

  .cocteles .btn-coctel {
    padding: 10px 40px;
    font-size: 1.1rem;
  }

  .coctel-back h4 {
    font-size: 1.2rem;
  }

  .coctel-back h5 {
    font-size: 1.2rem;
  }

  .coctel-back p {
    font-size: 1rem;
  }

  .coctel-back .btn-recetas {
    padding: 15px 60px;
    font-size: 1.1rem;
  }
}


